<%- include('./partials/head')%>

  <body>
    <header>
      <h2>Nothing can be better than</h2>
      <h1>
        <%= websiteName%>!
      </h1>
    </header>
    <%- include('./partials/navbar')%>
      <main>

        <section>
          <h2>Experience</h2>
          <p>Our invaluable experience and resources as one of the oldest independently owned real estate companies on
            Staten Island
            means your needs are our priority. Salmon’s hands-on, team approach means we treat your real estate
            transaction as if it
            were our own: personally, professionally and with over a half-century of know-how. Salmon Real Estate
            delivers what they
            promise, when they promise it and keeps you in the loop at every step. In today’s competitive real estate
            market you
            should accept no less from your broker.

            Through the care and personal attention every customer receives, we have built our relationships on a
            foundation of
            trust. We have sold or rented to several generations in the same family. Our client list includes
            corporations, bank
            presidents, hospital administrators, politicians…you name it and we’ve rented or sold it, on virtually every
            street of
            every neighborhood on Staten Island.</p>
        </section>
          <section>
            <h2>You know me!</h2>
            <p>Our business ties us strongly to our valued clients and our goal is to continue to extend you a level of service
              and
              attention that is not dependent on whether you are prepared to do a transaction. We appreciate the opportunity to
              serve
              you and have designed our site to provide you, as a property owner, valuable resources that can assist you in your
              goals, hobbies, and living.
          
              Through up markets, down markets or flat markets, we have the experience to know how to get the job done. We know
              Staten
              Island real estate. You know us!</p>
          </section>
      </main>
      <footer>
        <p>Privacy Policy & TOS | Sitemap | Accessibility <br>
        <div id="copy">Made in Sultans room, AZ by your friends at Noble Technologies, Inc. Copyright 2022. All Rights
          Reserved.</div>
        </p>
      </footer>
  </body>

  </html>