<%- include('./partials/head')%>
<body>
  <header>
    <h2>The best house selling site.</h2>
    <h1><%= websiteName%>!</h1>
  </header>
  <%- include('./partials/navbar')%>
  <main>

    <section>
      <h2>Get ready to start your new life with us!</h2>
    </section>

  </main>
  <footer>
    <p>Privacy Policy & TOS | Sitemap | Accessibility <br>
    <div id="copy">Made in Sultans room, AZ by your friends at Noble Technologies, Inc. Copyright 2022. All Rights
      Reserved.</div>
    </p>
  </footer>
</body>
</html>

